<div class="treeViewRoot">
    <TreeItem @target={{ @target }} />
</div>
<div class="treeViewChildren">
    {{#each @target.children as |child|}}
    <TreeItem @target={{ child }} />
    {{/each}}
</div>
