/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

/* * {
  color: black;
} */

.navbar {
  background-color: #fecba1 !important;
}

.dropdown-toggle {
  background-color: white !important;
  color: black !important;
}

.treeViewItem {
  padding: 5px;
  display: inline;
  margin: 1px;
}

.treeViewItem > a {
  font-weight: bold;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.treeViewChildren {
  margin-left: 10px;
  padding: 5px;
}

.treeViewRoot {
  display: block;
  padding: 5px;
}

.treeViewGreen {
  background-color: lightgreen;
}

.treeViewYellow {
  background-color: yellow;
}

.treeViewRed {
  background-color: salmon;
}

.treeViewDetails {
  background-color: #ffe5d0;
}

.alert {
  margin: 5px !important;
}
