{{page-title "About Spyglass"}}

<div class="container-fluid">
    <a href="https://github.com/kuritsu/spyglass" target="_blank" rel="noopener noreferrer">Spyglass</a> is an open source project to track and display the progress of processes.
    <br>
    Hosted on GitHub.com.
    <br>
    Created by <a href="https://github.com/kuritsu" target="_blank" rel="noopener noreferrer">Jeffrey Alvarez Mass&oacute;n</a> on 2020.
</div>