{{page-title "Target"}}
{{#if @model}}
<TreeView @target={{@model}} @showDetails={{true}} />
{{/if}}

{{#if this.error}}
<div class="alert alert-danger" role="alert">
    <i class="bi-exclamation-triangle-fill"></i> {{this.error}}
</div>
{{/if}}